.social-login
    button.social-login--github
        span
            i.fab.fa-github
        |Continue with Github
        //- |가 없으면 Continue를 텍스트가 아닌 태그 취급
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook