.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            |Continue with Github
        //- |가 없으면 Continue를 텍스트가 아닌 태그 취급
    button.social-login--kakao
        a(href=routes.kakao)
            span
                i.fab.fa-korvue
            |Continue with Kakao